html, body{
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat-x;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
}
.absolute{
    position: absolute;
}
.text-center {
    text-align: center;
}
.Menu{
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: #535353;
}
.all {
    width: 100%;
    height: 100%;
    display: flex;
}
.button {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: 0;
    background-color: gold;
    font-family: 'Roboto', sans-serif;
    margin: 2px;
}

.button:hover {
    background-color:rgb(175, 149, 0);
}

#loading{
    width: 100px;
    height: 100px;
}

.notification {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 300px;
    background-color: #535353;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    animation-duration: 1s;
    animation-name: up;

}

/* Loading Screen */
.loadingLogo{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.loadingLogo img {
    width: 250px;
    height: 250px;
}
.loadingLogo h1 {
    font-size: 40px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.loadingFooter {
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loadingFooter span {
    color: white;
    font-family: 'Roboto', sans-serif;
}


/* Left Bar CSS */
.leftBar {
    background-color: #3d3d3d;
    width: 400px;
    height: 100%;
    display: flex;
}

.leftminibar {
    width: 50px;
    height: 100%;
    background-color: #535353;
    text-align: center;
}
.leftminibar button, .leftminibar img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 0;
    color: white;
    background-color: #1f1f1f00;
    overflow: hidden;
}

.leftminibar button:hover {
    color: #b3b3b3;
}

/* Perfil creation */

.presentationFather{
    text-align: center;
    position: relative;
    width: 100%;
}

.presentationText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.presentationText img {
    width: 100px;
    height: 100px;
}

.perfilCreationBar{
    width: 350px;
}

h2, span, p {
    color: white;
}

.formbox {
    background-color: #535353;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

.formbox input {
    width: 80%;
    height: 30px;
    border: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.formbox button {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: 0;
    background-color: gold;
    font-family: 'Roboto', sans-serif;

}

.formbox button:hover {
    background-color:rgb(175, 149, 0);
    
}
.animateSplash {
    animation-duration: 1s;
    animation-name: splash;
}

/* On Chat */
.chat {
    width: 100%;
}

.infoDiv {
    width: 100%;
    background-color:#3d3d3d;
    height: 13%;
    text-align: center;
    padding: 10px;
    box-sizing:border-box;
}

.infoDiv span {
    font-weight: bold;
}

.chatDiv {
    width: 100%;
    height: 79%;
    overflow-y: scroll;
    overflow-x:hidden;
}

.inputzone {
    width: 100%;
    background-color:#3d3d3d;
    padding: 10px;
    height: 8%;
    box-sizing:border-box;
    display: flex;
    text-align: center;
}

.inputzone textarea {
    width: 90%;
    border: 0;
    font-family:'Roboto', sans-serif;
}

.inputzone button {
    width: 10%;
    border: 0;
    background-color: gold;
    font-family:'Roboto', sans-serif;
    font-weight: bold;

}
.inputzone button:hover {
    background-color:rgb(175, 149, 0);
}

/* Chats Cards */
.yourMensaje {
    width: 30%;
    background-color: goldenrod;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px;
    margin-left: 68%;
}

.otherMensaje {
    width: 30%;
    background-color: #535353;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px;
}

/* Animations */
@keyframes splash {
    from {
      margin-left: -100%;
      width: 0%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

@keyframes up {
    from {
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  
    to {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


/*Media Queries*/
@media (min-width: 1200px){
    #minibar {
        display: none;
    }
    .menuchat {
        width: 30%;
    }
}

@media (min-width:  993px) and (max-width: 1199px){
    #minibar {
        display: none;
    }
    .menuchat {
        width: 30%;
    }
}

@media (min-width:  769px) and (max-width: 992px){
    .yourMensaje {
        width: 50%;
        margin-left: 48%;
    }
    .otherMensaje{
        width: 50%;
    }
    .onlypc{
        display: none;
    }
    .presentationText {
        display: none;
    }
    .leftBar {
        width: 100%;
    }
    .menuchat {
        width: 50%;
    }
}

@media (min-width:  577px) and (max-width: 768px){
    .yourMensaje {
        width: 50%;
        margin-left: 48%;
    }
    .otherMensaje{
        width: 50%;
    }
    .onlypc{
        display: none;
    }
    .presentationText {
        display: none;
    }
    .leftBar {
        width: 100%;
    }
    .menuchat {
        width: 100%;
    }
}

@media (max-width: 576px){
    .yourMensaje {
        width: 50%;
        margin-left: 48%;
    }
    .otherMensaje{
        width: 50%;
    }
    .onlypc{
        display: none;
    }
    .presentationText {
        display: none;
    }
    .leftBar {
        width: 100%;
    }
    .inputzone textarea {
        width: 75%;
    }
    .inputzone button {
        width: 25%;
    }
    .menuchat {
        width: 100%;
    }

}